/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --main-color: #86CECB;
    --secondary-color: #167A7F;
    --title-color: hsl(220, 8%, 10%);
    --text-color: hsl(220, 8%, 40%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(220, 8%, 6%);
    --body-color: hsl(220, 8%, 99%);
    --container-color: hsl(220, 8%, 96%);
    --opacity-color-30: hsla(0, 0%, 90%, .3);
    --opacity-color-20: hsla(0, 0%, 90%, .2);
    --fade-top-gradient: linear-gradient( hsl(220, 8%, 96%), hsl(220, 8%, 96%, 0));
    --fade-bottom-gradient: linear-gradient(to top, hsl(220, 8%, 96%), hsl(220, 8%, 96%, 0));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Raleway", sans-serif;
    --second-font: "Roboto", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 6rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

input,
button {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
.dark-theme {
    --main-color: #167A7F;
    --secondary-color: #86CECB;
    --title-color: hsl(220, 8%, 90%);
    --text-color: hsl(220, 8%, 70%);
    --body-color: hsl(220, 8%, 8%);
    --container-color: hsl(220, 8%, 12%);
    --opacity-color-30: hsla(0, 0%, 15%, .3);
    --opacity-color-20: hsla(0, 0%, 15%, .2);
    --fade-top-gradient: linear-gradient(hsl(220, 8%, 12%), hsla(220, 8%, 12%, 0));
    --fade-bottom-gradient: linear-gradient(to top, hsl(220, 8%, 12%), hsla(220, 8%, 12%, 0));
}

/*========== 
	Color changes in some parts of
	the website, in dark theme
==========*/
.dark-theme::-webkit-scrollbar {
    background-color: hsl(220, 6%, 15%);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsl(220, 6%, 40%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}
.section__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__logo img {
    transition: filter .4s;
    height: 8rem;
    overflow: hidden;
}

.nav__toggle,
.nav__close,
.nav__theme {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--main-color);
    transition: color .4s;
}

.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav__link {
    position: relative;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}

.nav__link:hover::after {
    width: 60%;
}

.active::after {
    content: '';
    width: 60%;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}

.nav__close {
    color: var(--title-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
}

.bg-header :is(.nav__logo, .nav__toggle, .nav__theme) {
    color: var(--title-color);
}

/*=============== TERMINAL ===============*/
.page__wrapper img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    border-radius: 1rem;
}

.page__wrapper h2 {
    font-size: 50px;
    background: var(--main-color);
    background: -webkit-linear-gradient(to right, var(--main-color), var(--secondary-color));
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.page__wrapper {
    z-index: 0;
    position: relative;
}

.timeline__container {
    width: 90vw;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.margin__bottom__medium {
    margin-bottom: 32px;
}

.paragraph-large {
    letter-spacing: -0.02em;
    font-size: 20px;
    color: var(--text-color);
}

.section__timeline__heading {
    background-color: var(--container-color);
}

.padding__vertical__xlarge {
    padding-top: 120px;
    padding-bottom: 120px;
}

.timeline__main__heading__wrapper {
    color: var(--container-color);
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.timeline__component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.timeline__item {
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
}

.timeline__left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}

.timeline__centre {
    justify-content: center;
    display: flex;
}

.timeline__date__text {
    color: var(--text-color);
    letter-spacing: -0.03em;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 50vh;
}

.timeline__text {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}

.timeline__circle {
    background-color: var(--text-color);
    border-radius: 100%;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px var(--container-color);
}

.timeline__progress {
    z-index: -2;
    background-color: var(--text-color);
    width: 3px;
    height: 100%;
    position: absolute;
}

.timeline__progress__bar {
    z-index: -1;
    background: var(--main-color);
    background: -webkit-linear-gradient(to bottom, var(--main-color), var(--secondary-color));
    background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));

    width: 3px;
    max-height: 50vh;
    position: fixed;
    inset: 0 auto 50vh;
    transition: height 0.3s ease;
}

.section__timeline {
    z-index: -3;
    background-color: var(--container-color);
    position: relative;
}

.margin__bottom__xlarge {
    margin-bottom: 56px;
}

.overlay__fade__top {
    background-image: var(--fade-top-gradient);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
}

.overlay__fade__bottom {
    background-image: var(--fade-bottom-gradient);
    height: 80px;
    position: absolute;
    inset: auto 0% 0%;
}

.timeline__closer {
    height: 50vh;
    background-color: var(--container-color);
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--black-color);
    padding-block: 4rem 2rem;
}

.footer__container {
    display: grid;
    justify-content: center;
    row-gap: 3rem;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    justify-self: center;
}

.footer__logo img {
    height: 10rem;
    overflow: hidden;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
}

.footer__title {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links {
    display: grid;
    row-gap: .75rem;
}

.footer__link {
    color: var(--white-color);
}

.footer__social {
    display: flex;
    column-gap: 1rem;
}

.footer__social-link {
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform .4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    display: block;
    margin-top: 6rem;
    color: var(--white-color);
    text-align: center;
    font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(220, 6%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(220, 6%, 60%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(220, 6%, 50%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    background-color: var(--main-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover {
    transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2.5rem;
    }

    .home__subtitle {
        font-size: 1.5rem;
    }

    .footer__content {
        display: grid;
        justify-content: center;
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .home__container {
        grid-template-columns: 400px;
        justify-content: center;
    }

    .home__swiper,
    .f1inS__container {
        max-width: 400px;
    }

    .footer__content {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 40px;
    }

    .paragraph__large {
        font-size: 18px;
    }

    .padding__vertical__xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline__item {
        grid-template-columns: 64px 1fr;
        width: 100%;
    }

    .timeline__left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline__centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline__right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline__date__text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline__text {
        font-size: 20px;
    }

    .timeline__progress {
        left: 6px;
    }

    .margin__bottom__xlarge {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 768px) {
    .footer__content {
        grid-template-columns: repeat(2, max-content);
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section__title {
        margin-bottom: 4rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav__link {
        color: var(--title-color);
    }

    .nav__link::after {
        background-color: var(--title-color);
    }

    .bg-header .nav__link {
        color: var(--title-color);
    }

    .bg-header .nav__link::after {
        background-color: var(--title-color);
    }

    .home__container {
        grid-template-columns: 520px 700px;
        align-items: center;
        padding-block: 6rem 9rem;
        gap: 0;
    }

    .home__data {
        text-align: initial;
        transform: translateX(3rem);
        z-index: 5;
    }

    .home__description {
        padding-right: 6rem;
        margin-bottom: 4rem;
    }

    .home__swiper {
        max-width: 700px;
        transform: translateX(-3rem);
    }

    .home .swiper-button-prev,
    .home .swiper-button-next {
        bottom: 2rem;
    }

    .home .swiper-button-prev {
        right: 4.5rem;
    }

    .home .swiper-button-next {
        right: 2rem;
    }

    .f1inS__container {
        display: grid;
        grid-template-columns: 500px 700px;
        align-items: center;
        column-gap: 4rem;
        max-width: 1200px;
    }

    .f1inS__title {
        margin-bottom: 2rem;
    }

    .f1inS__img {
        max-width: 625px;
        transform: translateX(-6rem);
    }

    .f1inS__data {
        max-width: 90%;
        left: 10rem;
    }

    .footer {
        padding-top: 4.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footer__logo {
        justify-self: flex-start;
    }

    .footer__content {
        column-gap: 4.5rem;
    }

    .footer__title {
        margin-bottom: 1.5rem;
    }

    .scrollup {
        right: 3rem;
    }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
    body {
        zoom: 1.4;
    }
}